@model Collector.Models.ArtistModel

@{
    ViewBag.Title = "Artist";
}

<h2>Artist</h2>
@{Html.EnableClientValidation();}

@using (Html.BeginForm()){
<dl>
    <dt></dt>
    <dd>@Html.DropDownListFor(x => x.yearDropDownId, new SelectList(Model.yearDropDown, "value", "text"))</dd>
</dl>
<dl>
    <dt>@Html.DisplayNameFor(x => x.FirstName)</dt>
    <dd>@Html.TextBoxFor(x => x.FirstName)</dd>
    <dd>@Html.ValidationMessageFor(x => x.FirstName)</dd>
</dl>

<dl>
    <dt>@Html.DisplayNameFor(x => x.LastName)</dt>
    <dd>@Html.TextBoxFor(x => x.LastName)</dd>
    <dd>@Html.ValidationMessageFor(x => x.LastName)</dd>
</dl>

<input type="submit" name="Submit" />
}



